<app-header></app-header>
<!-- START MAIN CONTENT -->
<div class="main_content">

    <!-- START SECTION SHOP -->
    <div class="section">
        <div *ngIf="cartItems.length>0" class="container">
            <div class="row">
                <div class="col-12">
                    <div class="table-responsive shop_cart_table">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th class="product-thumbnail">&nbsp;</th>
                                    <th class="product-name">{{"cart.Product" |translate}}</th>
                                    <th class="product-price">{{"cart.Price" |translate}}</th>
                                    <th class="product-quantity">{{"cart.Quantity" |translate}}</th>
                                    <th class="product-subtotal">{{"cart.Total" |translate}}</th>
                                    <th class="product-remove">{{"cart.remove" |translate}}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let prod of cartItems">
                                    <td class="product-thumbnail"><a href="#"><img [src]="prod.image" alt="product1"></a></td>
                                    <td class="product-name" data-title="Product"><a [routerLink]="['/product-detail',prod.id]">{{selectedLang==="en"?prod.name:prod.nameArabic }}</a></td>
                                    <td class="product-price" data-title="Price">{{prod.reduced}}</td>
                                    <td class="product-quantity" data-title="Quantity"><div class="quantity">
                                    <input type="button" (click)="decreaseQty(prod.id)" value="-" class="minus">
                                    <input type="text" name="quantity" [value]="prod.quantity" title="Qty" class="qty" size="4">
                                    <input type="button" (click)="increasQty(prod.id)" value="+" class="plus">
                                  </div></td>
                                      <td class="product-subtotal" data-title="Total">{{prod.quantity * prod.reduced}}</td>
                                    <td class="product-remove" data-title="Remove"><a (click)="removeFromCart(prod)"><i class="ti-close"></i></a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="medium_divider"></div>
                    <div class="divider center_icon"><i class="ti-shopping-cart-full"></i></div>
                    <div class="medium_divider"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                </div>
                <div class="col-md-6">
                    
                    <div class="border p-3 p-md-4">
                        <div class="heading_s1 mb-3">
                            <h6>{{"cart.Cart Totals" |translate}}</h6>
                        </div>
                        <div class="table-responsive">
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <td class="cart_total_label">{{"cart.Cart Subtotal" |translate}}</td>
                                        <td class="cart_total_amount">{{grandTotal | currency:'SAR '}}</td>
                                    </tr>
                                    <tr>
                                        <td class="cart_total_label">{{"cart.shipping" |translate}}</td>
                                        <td class="cart_total_amount">{{"cart.freeShipping" |translate}}</td>
                                    </tr>
                                    <tr>
                                        <td class="cart_total_label">{{"cart.Total" |translate}}</td>
                                        <td class="cart_total_amount"><strong>{{grandTotal | currency:'SAR '}}</strong></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <a routerLink="/checkout" class="btn btn-fill-out">{{"cart.Proceed To CheckOut" |translate}}</a>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="cartItems.length === 0">
            <div class="noItems">
              <p class="text-center noItemsMsg">{{"cart.noItems" |translate}}</p>
            </div>
          </div>
    </div>
    <!-- END SECTION SHOP -->
    

    
    </div>
    <!-- END MAIN CONTENT -->