<header class="header_wrap">
	
    <div class="middle-header dark_skin">
    	<div class="custom-container">
        	<div class="nav_block">
                <a *ngIf="showLogo" class="navbar-brand d-flex align-items-center" routerLink="/home">
                    <img class="logo_light" src="assets/logoOnly.png" alt="logo" />
                    <img class="logo_dark" src="assets/logoOnly.png" alt="logo" />
                </a>
                <div class="product_search_form rounded_input">
                    <form>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="custom_select">
                                    <select class="first_null">
                                        <option value="">All Categorries</option>
                                        <option value="Dresses">Dresses</option>
                                        <option value="Shirt-Tops">Shirt & Tops</option>
                                        <option value="T-Shirt">T-Shirt</option>
                                        <option value="Pents">Pents</option>
                                        <option value="Jeans">Jeans</option>
                                    </select>
                                </div>
                            </div>
                            <input class="form-control" [(ngModel)]="prodToSearch" name="prodSearch" placeholder="Search Product..." required=""  type="text">
                            <button type="submit" (click)="searchProd()" class="search_btn2"><i class="fa fa-search"></i></button>
                        </div>
                    </form>
                </div>
                <ul class="navbar-nav attr-nav align-items-center">
                    <li><a (click)="onClickuser()" class="nav-link"><i class="linearicons-user"></i></a></li>
                    <li class="dropdow cart_dropdow"><a class="nav-link cart_trigger" routerLink="/cart" ata-bs-toggle="dropdown"><i class="linearicons-bag2"></i><span class="cart_count">{{cartItemCount}}</span><span class="amount"><span class="currency_symbol"></span>{{grandTotal|currency:'SAR '}}</span></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="bottom_header dark_skin main_menu_uppercase border-top border-bottom">
    	<div class="custom-container">
            <div class="row"> 
            	<div class="col-lg-3 col-md-4 col-sm-6 col-3">
                	
                </div>
                <div class="col-lg-9 col-md-8 col-sm-6 col-9">
                	<nav class="navbar navbar-expand-lg">
                    	<button class="navbar-toggler side_navbar_toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSidetoggle" aria-expanded="false"> 
                            <span class="ion-android-menu"></span>
                        </button>
                        <div class="pr_search_icon">
                            <a href="javascript:void(0);" class="nav-link pr_search_trigger"><i class="linearicons-magnifier"></i></a>
                        </div> 
                        <div class="collapse navbar-collapse mobile_side_menu" id="navbarSidetoggle">
							<ul class="navbar-nav">
                              
                                <li><a class="nav-link nav_item" routerLink="/home">Home</a></li> 
                                <li><a class="nav-link nav_item" routerLink="/products">Products</a></li> 
                                <li><a class="nav-link nav_item" routerLink="/about-us">About Us</a></li> 
                                <li><a class="nav-link nav_item" routerLink="/contact-us">Contact Us</a></li> 
                            </ul>
                        </div>
                        <div class="contact_phone contact_support">
                            <i class="linearicons-phone-wave"></i>
                            <span>+966 54 036 3034⁩</span>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</header>
