.relatedImg{
    height: 200px;
    object-fit: cover;
}
.product-meta li {
    display: grid;
    grid-template-columns: 30% 1fr;
}
.prodAttrs{
    display: grid;
    grid-template-columns: 1fr 2fr;
}
.relatedName{
    color: var(--blue);
    cursor: pointer;
}
del{
   margin: 0px 10px; 
}