<app-header></app-header>

<!-- START MAIN CONTENT -->
<div class="main_content">
  <div class="section">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-4">
          <div class="dashboard_menu">
            <ul class="nav nav-tabs flex-column" role="tablist">
              <li class="nav-item">
                <a
                  class="nav-link"
                  [class.arabicStyle]="selectedLang === 'ar'"
                  (click)="ordersView = true"
                  id="orders-tab"
                  data-toggle="tab"
                  role="tab"
                  aria-controls="orders"
                  aria-selected="false"
                  ><i class="ti-shopping-cart-full"></i
                  >{{ "myaccount.orders" | translate }}</a
                >
              </li>
              <li class="nav-item">
                <a
                  class="nav-link"
                  [class.arabicStyle]="selectedLang === 'ar'"
                  (click)="ordersView = false"
                  id="account-detail-tab"
                  data-toggle="tab"
                  role="tab"
                  aria-controls="account-detail"
                  aria-selected="true"
                  ><i class="ti-id-badge"></i
                  >{{ "myaccount.accountDetails" | translate }}</a
                >
              </li>
              <li class="nav-item">
                <a
                  [class.arabicStyle]="selectedLang === 'ar'"
                  class="nav-link"
                  (click)="logOut()"
                  ><i class="ti-lock"></i
                  >{{ "myaccount.logout" | translate }}</a
                >
              </li>
            </ul>
          </div>
        </div>
        <div class="col-lg-9 col-md-8">
          <div class="tab-content dashboard_content">
            <div
              *ngIf="ordersView"
              class="tab-pane fade active show"
              id="orders"
              role="tabpanel"
              aria-labelledby="orders-tab"
            >
              <div class="card">
                <div class="card-header">
                  <h3>Orders</h3>
                </div>
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table">
                      <thead>
                        <tr>
                          <th>{{ "myaccount.orderCode" | translate }}</th>
                          <th>{{ "myaccount.date" | translate }}</th>
                          <th>{{ "myaccount.total" | translate }}</th>
                          <th>
                            {{ "header.products" | translate | titlecase }}
                          </th>
                          <th>{{ "myaccount.status" | translate }}</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr class="myOrder" *ngFor="let order of myOrders">
                          <td>
                            {{ "myaccount.orderno" | translate }}
                            {{
                              (order.order_code | uppercase) || order.orderCode
                            }}
                          </td>
                          <td>{{ order.createdAt | date: "mediumDate" }}</td>
                          <td>{{ order.price | currency: "SAR " }}</td>
                          <th>
                            <span
                              class="detailsButton"
                              (click)="setOrderForDetail(order.id)"
                            >
                              {{ "myaccount.view" | translate }}</span
                            >
                          </th>

                          <td>
                            <span
                              [ngStyle]="{
                                backgroundColor: getStatusColor(order.status)
                              }"
                              class="orderStatus"
                            >
                              {{
                                this.selectedLang === "en"
                                  ? order.status
                                  : (order.statusArabic | uppercase)
                              }}</span
                            >
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>

            <div
              *ngIf="!ordersView"
              class="tab-pane fade active show"
              id="account-detail"
              role="tabpanel"
              aria-labelledby="account-detail-tab"
            >
              <div class="card">
                <div class="card-body">
                  <form [formGroup]="userForm">
                    <div class="row">
                      <div class="form-group col-md-6">
                        <label
                          >{{ "register.First Name" | translate }}
                          <span class="required">*</span></label
                        >
                        <input
                          [attr.disabled]="true"
                          formControlName="firstName"
                          class="form-control"
                          name="name"
                          type="text"
                        />
                      </div>
                      <div class="form-group col-md-6">
                        <label
                          >{{ "register.Lirst Name" | translate }}
                          <span class="required">*</span></label
                        >
                        <input
                          [attr.disabled]="true"
                          required=""
                          formControlName="lastName"
                          class="form-control"
                          name="phone"
                        />
                      </div>
                      <div class="form-group col-md-12">
                        <label
                          >{{ "contactus.email" | translate
                          }}<span class="required">*</span></label
                        >
                        <input
                          [attr.disabled]="true"
                          formControlName="email"
                          class="form-control"
                          name="email"
                          type="email"
                        />
                      </div>
                      <div class="form-group col-md-12">
                        <label>City <span class="required">*</span></label>
                        <input
                          [attr.disabled]="true"
                          formControlName="city"
                          class="form-control"
                          name="email"
                          type="text"
                        />
                      </div>
                      <div class="form-group col-md-12">
                        <label
                          >{{ "register.country" | translate }}
                          <span class="required">*</span></label
                        >
                        <input
                          [attr.disabled]="true"
                          formControlName="country"
                          class="form-control"
                          name="country"
                          type="country"
                        />
                      </div>
                      <div class="form-group col-md-12">
                        <label
                          >{{ "contactus.phone" | translate }}
                          <span class="required">*</span></label
                        >
                        <input
                          [attr.disabled]="true"
                          formControlName="phone"
                          class="form-control"
                          name="phone"
                          type="phone"
                        />
                      </div>
                      <div class="form-group col-md-12">
                        <label>{{ "register.Postcode" | translate }} </label>
                        <input
                          [attr.disabled]="true"
                          formControlName="postCode"
                          class="form-control"
                          name="postCode"
                          type="number"
                        />
                      </div>
                      <div class="form-group col-md-12">
                        <label
                          >{{ "register.Street" | translate }}
                          <span class="required">*</span></label
                        >
                        <input
                          [attr.disabled]="true"
                          formControlName="street"
                          class="form-control"
                          name="street"
                          type="text"
                        />
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="myOrders && orderToShow" #orderDetails class="orderDetails">
      <div class="detailsWrapper">
        <div>
          <h6 class="d-inline">
            {{ "myaccount.orderCode" | translate }}&nbsp;&nbsp;&nbsp;
          </h6>
          <h6 class="d-inline orderCode">{{ orderToShow.orderCode }}</h6>
        </div>
        <h5 [ngStyle]="{ textAlign: selectedLang === 'en' ? 'unset' : 'right' }" class="mt-5">{{ "header.products" | translate | titlecase }}</h5>
        <div class="orderedProds" *ngFor="let prod of orderToShow.products">
          <div
            class="orderedProduct"
            [ngStyle]="{ textAlign: selectedLang === 'en' ? 'unset' : 'right' }"
          >
            {{
              selectedLang === "en" ? prod.productName : prod.productNameArabic
            }}
            <div  [ngStyle]="{ float: selectedLang === 'en' ? 'right' : 'left' }" >
              <span [ngStyle]="{ float: selectedLang === 'en' ? 'unset' : 'right' }" class="mx-3">X</span> <span>{{ prod.quantity }}</span>
            </div>
          </div>
        </div>
        <span class="crossIcon" (click)="closeDetailsWrapper()">X</span>
      </div>
    </div>
  </div>
</div>
