.nav-link {
  cursor: pointer;
}
.orderStatus {
  background: var(--bs-danger);
  color: #fff;
  padding: 3px 7px;
  border-radius: 10px;
  font-size: 12px;
  padding-bottom: 5px;
}
.completedOrder{
    background: var(--success); 
}
table{
    overflow: hidden;
}
.icons{

  margin: 0px 20px;
}