<app-header></app-header>
<!-- START MAIN CONTENT -->
<div class="main_content">

    <!-- START SECTION SHOP -->
    <div class="section">
        
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-4 col-6">
                    <h3 [class.arabicStyle]="selectedLang==='ar'" class="text-danger mb-4">{{storeName}}</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="row shop_container list">
                        <div *ngFor="let prod of allProds" class="col-lg-3 col-md-4 col-6">
                            <div class="product">
                                <div class="product_img">
                                    <a [routerLink]="['product-detail',prod.id]">
                                        <img [src]="prod.image" alt="product_img1">
                                    </a>
                                </div>
                                <div class="product_info">
                                    <h6 class="product_title"><a class="prodName" [routerLink]="['/product-detail',prod.id]">{{selectedLang==="en"?prod.name:prod.nameArabic }}</a></h6>
                                   <div>
                                    <!-- <b>{{prod.agent}}</b> -->
                                   </div>
                                    <div [class.arabicStyle]="selectedLang==='ar'" class="product_prie">
                                        <span  class="price">{{prod.reduced | currency:'SAR '}}</span>
                                        <del>{{prod.price | currency:'SAR '}}</del>
                                        <div class="on_sale">
                                            <span>25% {{"home.off" |translate}}</span>
                                        </div>
                                    </div>
                                    <div [class.arabicStyle]="selectedLang==='ar'" class="pr_desc">
                                        <p>{{selectedLang==="en"?prod.shortDescription:prod.shortDescriptionArabic }}</p>
                                    </div>
                                    <div [class.arabicStyle]="selectedLang==='ar'" class="list_product_action_box">
                                        <ul class="list_none pr_action_btn">
                                            <li class="add-to-cart"><a (click)="addToCart(prod)" style="text-decoration: none; cursor: pointer;"><i class="icon-basket-loaded"></i> {{"home.addtocart"|translate}}</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                    <!-- <div class="row">
                        <div class="col-12">
                            <ul class="pagination mt-3 justify-content-center pagination_style1">
                                <li class="page-item active"><a class="page-link" href="#">1</a></li>
                                <li class="page-item"><a class="page-link" href="#">2</a></li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item"><a class="page-link" href="#"><i class="linearicons-arrow-right"></i></a></li>
                            </ul>
                        </div>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
    <!-- END SECTION SHOP -->
    
    </div>