<app-header></app-header>
<div class="main_content">

    <!-- STAT SECTION ABOUT --> 
    <div class="section">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <div class="about_img scene mb-4 mb-lg-0">
                        <img src="../../../assets/logo.png" alt="about_img"/>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="heading_s1">
                        <h2>{{"about.whoweare" | translate}}</h2>
                    </div>
                    <p>{{"about.lorem1" | translate}}</p>
                    <p>{{"about.lorem2" | translate}}</p>
                </div>
            </div>
        </div>
    </div>
    <!-- END SECTION ABOUT --> 
    
    <!-- START SECTION WHY CHOOSE --> 
    <div class="section bg_light_blue2 pb_70">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6 col-md-8">
                    <div class="heading_s1 text-center">
                        <h2>{{"about.whyus" | translate}}</h2>
                    </div>
                    <p class="text-center leads">{{"about.lorem1" |translate}}</p>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-4 col-sm-6">
                    <div class="icon_box icon_box_style4 box_shadow1">
                        <div class="icon">
                            <i class="ti-pencil-alt"></i>
                        </div>
                        <div class="icon_box_content">
                            <h5>{{"about.Creative Design" |translate}}</h5>
                            <p>{{"about.lorem2" |translate}}</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="icon_box icon_box_style4 box_shadow1">
                        <div class="icon">
                            <i class="ti-layers"></i>
                        </div>
                        <div class="icon_box_content">
                            <h5>{{"about.Flexible Layouts" |translate}}</h5>
                            <p>{{"about.lorem1" |translate}}</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="icon_box icon_box_style4 box_shadow1">
                        <div class="icon">
                            <i class="ti-email"></i>
                        </div>
                        <div class="icon_box_content">
                            <h5>{{"about.Email Marketing" |translate}}</h5>
                            <p>{{"about.lorem2" |translate}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END SECTION WHY CHOOSE --> 
    
    
    <!-- START SECTION SHOP INFO -->
    <div class="section pb_70">
            <div class="container">
                <div class="row no-gutters">
                    <div class="col-lg-4">	
                        <div class="icon_box icon_box_style1">
                            <div class="icon">
                                <i class="flaticon-shipped"></i>
                            </div>
                            <div class="icon_box_content">
                                <h5>{{"about.Free Delivery" |translate}}</h5>
                                <p>{{"about.lorem3" |translate }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">	
                        <div class="icon_box icon_box_style1">
                            <div class="icon">
                                <i class="flaticon-money-back"></i>
                            </div>
                            <div class="icon_box_content">
                                <h5>{{"about.30 Day Return" |translate}}</h5>
                                <p>{{"about.lorem3" |translate }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">	
                        <div class="icon_box icon_box_style1">
                            <div class="icon">
                                <i class="flaticon-support"></i>
                            </div>
                            <div class="icon_box_content">
                                <h5>{{"about.27/4 Support" |translate}}</h5>
                                <p>{{"about.lorem3" |translate }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <!-- END SECTION SHOP INFO -->

    
    </div>