<app-header></app-header>
<div class="main_content">
  <!-- START SECTION SHOP -->
  <div class="section">
    <div class="container">
    
      <div class="row">
        <div class="col-12">
          <div class="medium_divider"></div>
          <div class="divider center_icon">
            <i class="linearicons-credit-card"></i>
          </div>
          <div class="medium_divider"></div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="heading_s1">
            <h4>{{"checkout.billing" | translate}}</h4>
          </div>
          <!-- <form >
            <div class="form-group">
              <textarea [(ngModel)]="shippingAddress" name=""class="form-control" id="" cols="30" rows="10" placeholder="Shipping Address"></textarea>
              
            </div>
          </form> -->
          <form [formGroup]="checkoutForm">

            <div class="form-group mb-3">
                <input formControlName="firstName" type="text" class="form-control" placeholder="{{'register.First Name' | translate}}">
                <span *ngIf="checkoutForm.get('firstName').touched && checkoutForm.get('firstName').invalid" class="text-danger">{{"register.First Name" | translate}} {{"register.isRequired" | translate}}</span>
            </div>
            <div class="form-group mb-3">
                <input formControlName="lastName" type="text" class="form-control"  placeholder="{{'register.Last Name' | translate}}">
                <span *ngIf="checkoutForm.get('lastName').touched && checkoutForm.get('lastName').invalid" class="text-danger">{{"register.Last Name" | translate}} {{"register.isRequired" | translate}}</span>
           
            </div>
            <div class="form-group mb-3">
                <input formControlName="street" type="text" class="form-control"  placeholder="{{'register.Street' | translate}}">
           
            </div>
            <div class="form-group mb-3">
                <input formControlName="postcode" type="text" class="form-control"  placeholder="{{'register.Postcode' | translate}}">
           
            </div>
            <div class="form-group mb-3">
                <input formControlName="shippingAddress" type="text" class="form-control"  placeholder="{{'contactus.adderss' | translate}}">
                <span *ngIf="checkoutForm.get('shippingAddress').touched && checkoutForm.get('shippingAddress').invalid" class="text-danger"> {{"contact.address" | translate}} {{"register.isRequired" | translate}}</span>
           
            </div>
            <div class="form-group mb-3">
                <input formControlName="city" type="text" class="form-control"  placeholder="{{'register.city' | translate}}">
                <span *ngIf="checkoutForm.get('city').touched && checkoutForm.get('city').invalid" class="text-danger"> {{"register.city" | translate}}  {{"register.isRequired" | translate}}</span>
           
            </div>

            <div class="form-group mb-3">
                <input formControlName="country" type="text" class="form-control"  placeholder="{{'register.country' | translate}}">
                <span *ngIf="checkoutForm.get('country').touched && checkoutForm.get('country').invalid" class="text-danger"> {{"register.country" | translate}}  {{"register.isRequired" | translate}}</span>
           
            </div>

            

        
        </form>
        </div>
        <div class="col-md-6"> 
          <div class="order_review">
            <div class="heading_s1">
              <h4>{{'checkout.items' | translate}}</h4>
            </div>
            <div class="table-responsive order_table">
              <table class="table">
                <thead>
                  <tr>
                    <th>{{'checkout.product' | translate}}</th>
                    <th>{{'cart.Total' | translate}}</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of cartItems">
                    <td>
                      {{selectedLang==="en"?item.name:item.nameArabic }} <span class="product-qty">x {{item.quantity}}</span>
                    </td>
                    <td>{{item.reduced | currency: 'SAR'}}</td>
                  </tr>
                </tbody>
                <tfoot>
                  <tr>
                    <th>{{'checkout.subtotal' | translate}}</th>
                    <td class="product-subtotal">{{grandTotal | currency: 'SAR'}}</td>
                  </tr>
                  <tr>
                    <th>{{'cart.shipping' | translate}}</th>
                    <td>{{'cart.freeShipping' | translate}}</td>
                  </tr>
                  <tr>
                    <td>{{'cart.tax' | translate }}</td>
                    <th>{{tax | currency:'SAR '}} (15%)</th>
                  </tr>
                  <tr>
                    <th>Total</th>
                    <td class="product-subtotal">{{(grandTotal)+(grandTotal*.15) | currency: 'SAR'}}</td>
                  </tr>
                </tfoot>
              </table>
            </div>
            <div class="payment_method">
              <div class="heading_s1">
                <h4>{{'checkout.payment' | translate}}</h4>
              </div>
              <p  class="text-muted">
                {{'checkout.manually' | translate}}
              </p>
            
            </div>
            <button (click)="onPlaceOrder()" class="btn btn-fill-out btn-block">{{'checkout.placeOrder' | translate}}</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
